<header class="container">
    <nav class="flex justify-between items-center bg-gray-200 shadow-md mx-auto">
        <div>
            <span class=" text-orange-300">Mon logo</span>
        </div>
        <div>
            <ul class="flex justify-between space-x-2 py-4 px-2">
                <li>
                    <a href="/" class="hover:underline  hover:text-orange-400 transition-colors duration-500"">Accueil</a>
                </li>
                <li>
                    <a href="/service" class="hover:underline  hover:text-orange-400 transition-colors duration-500"">Nos services</a>
                </li>
                <li>
                    <a href="/contact" class="hover:underline hover:text-orange-400 transition-colors duration-500">Contactez-nous</a>
                </li>
            </ul>
        </div>
    </nav>
</header>